/* Grilla Dinamica */
.playlist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%,320px), 1fr));
    /* 
        repeat(a, b)
            a: cantidad de veces
            b: tamaño de las celdas
        auto-fill: completa con celdas que cubran el espacio
        auto-fit: rellena con celdas hasta cubrir el espacio
        
        minmax(1,2)
        1: valor minimo
        2: valor maximo
    */
    gap: .5rem;
    padding: .5rem;
}
.playlist li{
    position: relative;
}
.playlist .control{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .5rem;
}
.playlist :is(
    img,
    video,
    iframe
){
    width: 100%;
    height: 100%;
    border-radius: .25rem;
    background: #000;
    object-fit: cover;
}
.masonry :is(
    img,
    video,
    iframe
){
    border: .5rem solid var(--dark);
    transition: all .5s ease-in;
}
.masonry :hover{
    transform: 
        scale(1.1);
}
.masonry :nth-child(4n){
    grid-column: span 2;
}
.masonry :nth-child(2n){
    grid-row: span 2;
}
/* Scalable vector Graphics */
    rect{
        fill: #c36;
    }
    circle{
        fill: hsla(260, 50%, 50%, .8);
    }
    polygon{
        fill: rgba(51, 204, 68, .8);
    }
    line{
        stroke: darkslateblue;
        stroke-width: .25rem;
    }
    ellipse{
        fill: transparent;
        stroke: var(--first);
        stroke-width: .25rem;
    }
/* Animaciones */
.balance{
    animation: balance 5s ease-out 2s alternate infinite;
}
.move{
    animation: move 5s ease-out 2s alternate infinite;
}
.time{
    animation: time 2s linear 2s alternate infinite;
    transform-origin: bottom center;
}
.angle{
    transform: rotate(45deg);
    transform-origin: center;
}
.rotate{
    animation: rotate 5s linear 2s infinite;
    transform-origin: center;
}

/* Fotogramas */
@keyframes balance {
    from{
        transform: rotate(7.5deg);
    }
    to{
        transform: rotate(-10deg)
    }
}
@keyframes move {
    from{
        transform: 
        translate(20%)
        rotate(10deg);
    }
    to{
        transform: 
        translate(0)
        rotate(-10deg);
    }
}
@keyframes time {
    from{
        transform: 
            rotate(-60deg);
    }
    to{
        transform: 
            rotate(60deg);
    }
}
@keyframes rotate{
    to{
        transform: rotate(360deg);
    }
}