/* Grilla Dinamica */
.playlist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%,320px), 1fr));
    /* 
        repeat(a, b)
            a: cantidad de veces
            b: tamaño de las celdas
        auto-fill: completa con celdas que cubran el espacio
        auto-fit: rellena con celdas hasta cubrir el espacio
        
        minmax(1,2)
        1: valor minimo
        2: valor maximo
    */
    gap: .5rem;
    padding: .5rem;
}
.playlist li{
    position: relative;
}
.playlist .control{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .5rem;
}
.playlist :is(
    img,
    video,
    iframe
){
    width: 100%;
    height: 100%;
    border-radius: .25rem;
    background: #000;
    object-fit: cover;
}
.masonry :is(
    img,
    video,
    iframe
){
    border: .5rem solid var(--dark);
    transition: all .5s ease-in;
}
.masonry :hover{
    transform: 
        scale(1.1);
}
.masonry :nth-child(4n){
    grid-column: span 2;
}
.masonry :nth-child(2n){
    grid-row: span 2;
}